#Ignore speckit default files
.vscode/settings.json
.github/agents/speckit.analyze.agent.md
.github/agents/speckit.checklist.agent.md
.github/agents/speckit.clarify.agent.md
.github/agents/speckit.constitution.agent.md
.github/agents/speckit.git.commit.agent.md
.github/agents/speckit.git.feature.agent.md
.github/agents/speckit.git.initialize.agent.md
.github/agents/speckit.git.remote.agent.md
.github/agents/speckit.git.validate.agent.md
.github/agents/speckit.implement.agent.md
.github/agents/speckit.plan.agent.md
.github/agents/speckit.specify.agent.md
.github/agents/speckit.tasks.agent.md
.github/agents/speckit.taskstoissues.agent.md
.github/copilot-instructions.md
.github/prompts/speckit.analyze.prompt.md
.github/prompts/speckit.checklist.prompt.md
.github/prompts/speckit.clarify.prompt.md
.github/prompts/speckit.constitution.prompt.md
.github/prompts/speckit.git.commit.prompt.md
.github/prompts/speckit.git.feature.prompt.md
.github/prompts/speckit.git.initialize.prompt.md
.github/prompts/speckit.git.remote.prompt.md
.github/prompts/speckit.git.validate.prompt.md
.github/prompts/speckit.implement.prompt.md
.github/prompts/speckit.plan.prompt.md
.github/prompts/speckit.specify.prompt.md
.github/prompts/speckit.tasks.prompt.md
.github/prompts/speckit.taskstoissues.prompt.md
.specify/extensions.yml
.specify/extensions/.registry
.specify/extensions/git/README.md
.specify/extensions/git/commands/speckit.git.commit.md
.specify/extensions/git/commands/speckit.git.feature.md
.specify/extensions/git/commands/speckit.git.initialize.md
.specify/extensions/git/commands/speckit.git.remote.md
.specify/extensions/git/commands/speckit.git.validate.md
.specify/extensions/git/config-template.yml
.specify/extensions/git/extension.yml
.specify/extensions/git/git-config.yml
.specify/extensions/git/scripts/bash/auto-commit.sh
.specify/extensions/git/scripts/bash/create-new-feature.sh
.specify/extensions/git/scripts/bash/git-common.sh
.specify/extensions/git/scripts/bash/initialize-repo.sh
.specify/extensions/git/scripts/powershell/auto-commit.ps1
.specify/extensions/git/scripts/powershell/create-new-feature.ps1
.specify/extensions/git/scripts/powershell/git-common.ps1
.specify/extensions/git/scripts/powershell/initialize-repo.ps1
.specify/init-options.json
.specify/integration.json
.specify/integrations/copilot.manifest.json
.specify/integrations/speckit.manifest.json
.specify/scripts/bash/check-prerequisites.sh
.specify/scripts/bash/common.sh
.specify/scripts/bash/create-new-feature.sh
.specify/scripts/bash/setup-plan.sh
.specify/scripts/bash/setup-tasks.sh
.specify/workflows/speckit/workflow.yml
.specify/workflows/workflow-registry.json